@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "ProductsList";
}

<h1>ProductsList</h1>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" name="name" class="form-control col-sm-9" placeholder="Search on name" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append col-sm-3 float-md-right">
            <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
        </div>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count() == 0)
{
    <p class="text-center">No Result</p>
}